body {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(37, 36, 36);
    font-family: 'Righteous', cursive;
}

.main {
  /* background-color: gray; */
}

.title {
  margin-top: 5vh;
}

.list {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(65, 65, 65);
  border-radius: 5pt;
  margin-top: 20px;
  box-shadow:
  0 1.5px 5.6px rgba(231, 231, 231, 0.52)
;
}

.listitems {
  list-style: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 50px;
  padding: 10px;
  background-color: rgb(90, 90, 90);
  border-radius: 5pt;
  cursor: pointer;
  width: 100px;
  box-shadow:
  0 1.5px 5.6px rgba(173, 173, 173, 0.52)
;

}

.listitems:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: white;
}

.closedpb {
    width: 100%;
    height: auto;
    max-width: 300px;   
}

.openpb {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.closedpb:hover {
    animation: shake 0.5s;
    animation-iteration-count: 3;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  .profileContainer {
    color: white;
    list-style: none;
    font-size: 1.5rem;
    margin: 50px;
    padding: 10px;
    background-color: rgb(90, 90, 90);
    border-radius: 5pt;
    cursor: pointer;
    width: auto;
    box-shadow:
    0 1.5px 5.6px rgba(231, 231, 231, 0.52)

  input {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 1.5rem;
    width: 20%;
    height: 10%;
    border-radius: 5pt;
    margin-top: 60px;
    background-color: rgb(65, 65, 65);
  }

  .link {
    margin: 0 auto;
    font-size: 1.5rem;
    width: 30%;
    height: 10%;
    border-radius: 5pt;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgb(65, 65, 65);
    box-shadow:
    0 1.5px 5.6px rgba(173, 173, 173, 0.52);
  }